#container {
  width: 375px;
  height: 525px;
  margin-left: 550px;
  margin-top: 95px;
  background-color: yellow;
  padding-left: 45px;
}

#cm {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#kg {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weightguide {
  margin-left: 75px;
  margin-top: 40px;
  line-height: 1.35;
}

#result {
  font-size: 35px;
  margin-left: 135px;
  color: blue;
}

#submit {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 35px;
  border-radius: 5px;
  border-style: none;
  background-color: blue;
  color: #fff;
  font-size: 25px;
}

body {
  background-color: #000;
}

h1 {
  padding-left: 60px;
  padding-top: 25px;
}
